/* assets/styles/styles.css */

/* Estilos para el tema claro */
body {
    --ion-background-color: white; /* Fondo blanco */
    --ion-text-color: black; /* Texto negro */
  }
  
  /* Estilos para el tema oscuro */
  body.dark {
    --ion-background-color: #000; /* Fondo negro */
    --ion-text-color: white; /* Texto blanco */
  }
  
  /* Estilos para los elementos del menú y otros componentes */
  .custom-menu {
    --background: var(--ion-background-color);
  }
  
  .menu-content {
    --ion-background-color: var(--ion-background-color);
  }
  
  ion-item {
    --background: var(--ion-background-color);
    transition: background-color 0.3s;
    color: var(--ion-text-color); /* Asegúrate de que el texto tenga color */
  }
  